select.rs-select {
    appearance: auto;
}

.disabled-if-loader {
    pointer-events: none; /* Wyłącza możliwość interakcji, np. klikania */
    opacity: 0.1; /* Możesz dostosować przezroczystość, aby zaznaczyć, że element jest wyłączony */
    cursor: not-allowed; /* Zmienia kursor na "not-allowed" dla lepszej sygnalizacji */
} 

.msg-info {
  min-height: 50px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.custom-file-upload i {
  margin-right: 5px;
}
